
   .languages{
   margin-left: 1000px;
    block-size:37px;
  
   }

   .navbar-brand{
    font-family: "Libre Baskerville";
    font-style: bold;
     color:red;
    font-size: 1.75rem;
   }

   .subject{
    text-align: center;
    padding:20%;
   }

h2{

    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 450px;
    padding:3px;
}
h3{

    font-size: 18px;
    font-weight: 200;
    margin: 0 auto;
    max-width: 450px;
    padding:3px;
}
h1{
    font: 1.75rem;
    color:white;
}
.subsentence1{
    color:white;
}
.subsentence{
    background-color: orange;
}

.title{

    background-image: url("/Users/sureshkannanmuthusamy/Desktop/Netflix starting page/images/netflix.jpeg");
}
.input-group{
    padding-top:5px
   
}

.television{
    background-color: black;
    color:white;
   
}

.content{
    text-align: center;
    font-family: "poppins";
    font-style: bold;
    padding:20% 5%;
    font-size: larger;
}



  hr.rounded {
    border-top: 8px solid rgb(52, 51, 51);
    border-radius: 5px;
    margin-top: 0pc;
    margin-bottom: 0pc;
  }
  .gif{
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 10%;
        padding-left: 10%;
      
  }

.Strange{
    font-size: small;
}
.download{
    font-size: small;
    color:blue;
}
.diagonalbox{
    margin-left:25%
}

.divsize{

max-height: 600px;
height: 100%;

}

.simple{
    border-radius: 5px;
    border: 5px;
    background-color: black;
    color:white;
    height: 100px;
    width: 45%;

}

.myDiv {

    height: 60px;
    width: 5in;
    background-color: #303030;
    color:white;
    margin: 5px 5px 1px 250px; 
    border: 0;
    font-weight: 400;
    margin-bottom: 1px;
    padding: 0.8em 2.2em 0.8em 1.2em;
    position: relative;
    
  }
  .Divide {
    display: none;
   /* height: 200px; */
    width: 5in;
    background-color: #303030;
    color:white;
padding:5px;
margin: 5px 5px 1px 250px; 

  
  }

  .fa{
    float: right;
    margin-right:  5px;
  }


  .subordinate{
    font-size: larger;
    margin-top: 10px;
 padding: 1pc;
    margin-bottom: 10px;
  }


.getstarted{
    position:absolute;
    padding: 10px 32px;
   
}

.demo{
    margin-left: 200px;
}


      
